extends layout 

block content 

    h1 CREATE NEW POSTS HERE

    form(method="POST")
        table 
            tr 
                td
                    label(for="title") TITLE: 
                td
                    input(type="text", name="title", required)
                    br
                    br
            tr 
                td 
                    label(for="details") POST DETAILS: 
                td
                    textarea(type="email", name="details", required)
                    br
                    br
        button(type="submit") POST