extends layout 


block content 

    div(class='home-page')
        div(class='home-content')
            h1 WELCOME TO ONLY MEMBERS

            a(href="/login") 
                button Login
            a(href="/signup")
                button Signup 
            a(href="./posts") Continue as a guest 
            