doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    navbar 
      a(href="/") 
        h1 Only-Members
      ul
        if isAuthenticated  
          li 
            p(class='user-name') WELCOME #{user}
          li
            a(href="/logout") Logout 
        else 
          li 
            a(href="/login") Login
          li 
            a(href="/signup") Signup

    block content
