extends layout 

block content 


    div(class='signup-page')

        div(class='signup-content')
            h1 SIGN UP 

            form(method="POST")
                table(class='signup-form-table')
                    tr
                        td
                            label(for="name") FULL NAME: 
                        td
                            input(type="text", name="name", required)
                    tr
                        td
                            label(for="email") EMAIL: 
                        td
                            input(type="email", name="email", required)
                    tr
                        td        
                            label(for="password") PASSWORD: 
                        td
                            input(type="password", name="password", required)
                    tr
                        td 
                            label(for="confirm-password") CONFIRM PASSWORD: 
                        td
                            input(type="password", name="confirm-password", required)
                    tr 
                        td
                            label(for="code") MEMBERSHIP CODE: 
                        td    
                            input(type="number", name="code", required)
                br
                br
                button(type="submit") Submit
                
            if errors 
                ul
                    for error in errors 
                        li= error.msg