@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Galada&display=swap');




:root{
  --back-clr: #062726;
  --font-clr: white;
  font-family: "Galada", cursive;

}

button{
  font-family: "Galada", cursive;

}




body {
  padding: 20px 50px ;
  background-color: var(--back-clr);
  color: var(--font-clr);
}

a {
  /* color: #00B7FF; */
  color: white;
  text-decoration: none;
}
li{
  list-style-type: none;
}

.posts-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 5rem;
  
}

.posts-grid > li{
  background-color: #0b3635;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.posts-grid > li:hover{
  background-color: #104c4b;;
}

navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  font-size:1.5rem;
}
navbar > ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.posts-container *{
  margin: 0;
}

.posts-container > h3{
  text-transform: uppercase;

  margin-bottom: 1rem;
}

.user-name{
  text-transform: uppercase;
}

.signup-page, .login-page, .home-page, .create-post-page{
  
  display:flex;
  align-items: center;
  justify-content: center;
}


.signup-content, .login-content, .home-content, .create-post-content{
  /* outline: white solid; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 3%;
  font-size: 2rem;

}

.signup-content  form, .login-content form, .create-post-content form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content{
  
  gap:2rem;
  outline: none;
}

button {
  font-size: 2rem;
  width: 200px;
  cursor: pointer;
  background-color: #154b4a;
  padding: 1rem 2rem;
  color: white;
  border: none;
  border-radius: 12px;
}
input{
  font-size: 2rem;
  border-radius: 12px;
  border: none;
  padding: 5px 10px;
}


button:hover{
  background-color: #1f6261;
}

a:hover{
  text-decoration: underline;
}
table{
  border-collapse: separate;
  border-spacing: 1rem;
}

.newpost-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

}

.new-post-btn{
  font-size: 1rem;
}
textarea {
  font-size: 1.5rem;
  width: 400px;
  height: 150px;
}

label{
  font-size: 1.5rem;
}

.post-footer{
  color: rgba(255, 255, 255, 0.696);
  font-weight: 100;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  text-transform: capitalize;
  justify-content: space-between;
  font-style: italic;
}