:root{
  --back-clr: #062726;
  --font-clr: white;
}

body {
  padding: 20px 50px ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--back-clr);
  color: var(--font-clr);
}

a {
  /* color: #00B7FF; */
  color: white;
  text-decoration: none;
}
li{
  list-style-type: none;
}

.posts-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 5rem;
}

.posts-grid > li{
  background-color: #0b3635;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.posts-grid > li:hover{
  background-color: #104c4b;;
}

navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}
navbar > ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  width: 20%;
}

.posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts-container > h3{
  text-transform: uppercase;
  margin: 0;
}

.user-name{
  text-transform: uppercase;
}